<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.anantsinghal.peeler</string>
    <key>CFBundleName</key>
    <string>Peeler</string>
    <key>CFBundleDisplayName</key>
    <string>Peeler</string>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.4</string>
    <key>PeelerReleaseName</key>
    <string>Ikea Lamp</string>
    <key>PeelerHomepageURL</key>
    <string>https://anants.studio</string>
    <key>PeelerRepositoryURL</key>
    <string>https://github.com/GithubAnant/peeler</string>
    <key>PeelerAuthorName</key>
    <string>Anant Singhal</string>
    <key>PeelerAuthorURL</key>
    <string>https://anants.studio</string>
    <key>SUFeedURL</key>
    <string>https://github.com/GithubAnant/peeler/releases/latest/download/appcast.xml</string>
    <key>SUPublicEDKey</key>
    <string>9VS9EDs/vj/6LBSipjJHIVjasfzYxePVrut/FYPqi0Y=</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>Peeler</string>
    <key>LSUIElement</key>
    <true/>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSScreenCaptureUsageDescription</key>
    <string>Peeler needs screen recording permission to pick colors from anywhere on your screen.</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Anant Singhal. All rights reserved.</string>
</dict>
</plist>
